.terminal{
    width: 90%;
    margin-top:40px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom:40px;
    min-width: 500px; 
    background: #000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    /*-webkit-transition:all 0.5s; */
    overflow: hidden; 
}

/* TOP BAR */
.topbar{
    width: 100%;
    height: 21px;
    font-size: 16px;
    font-family: "Myriad Pro", sans-serif;
    text-shadow:0px 1px 0px rgba(255,255,255,0.25);
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.5); 
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.5); 
   
    
}
.topbar ul li {
    float: left; 
    padding:0 10px;
    height: 21px;
    line-height: 24px;
}
.topbar ul li:first-child{
    font-size: 20px;
    line-height: 26px;
    margin-left: 5px;
}
.topbar ul li:nth-child(2){
    font-family: "Myriad-Semi", sans-serif;
}
.topbar ul li:active{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #4a82ff),color-stop(0, #0052fc));
    color: #fff;
    text-shadow: none;
}
.toolbar{
    width: 100%; 
    height: 25px;
    background: grey;
    border-radius:5px 5px 0 0;

    background: #cfcfcf; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfcfcf 0%, #a8a8a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* IE10+ */
    background: linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* W3C */
    
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;        
    
}
.toolbar .top{
    float: left; 
    width: 100%; 
    height: 23px;
}
.toolbar .bottom{
    float: left; 
    width: 100%; 
    height: 30px;
}

/*-----TRAFFIC LIGHTS-----*/
.toolbar #lights{
    float: left;
    position:relative;
    top:4px;
    left:7px; 
}

/*-----TITLE-----*/
.title{
    float: left; 
    position: relative;
    top:4px;
    width:40%;
    left: 30%;
    font-family: "Myriad Pro", sans-serif; 
    font-size: 18px; 
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    line-height: 14px; 
}


.nav{
    margin: 1px 8px;
    float: left;
}
.view{
    margin: 2px 0 0 110px;
    display: inline-block;
}

.control_box{
    height:20px;
    border-radius: 3px;
    border: 1px solid #555;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #fefefe),color-stop(0, #b8b8b8));
    box-shadow:0px 1px 0px rgba(255,255,255,0.25);
}
.control_box .control{
    height:20px;
    border-right: 1px solid #2e2e2e;
    float: left;
    text-align: center; 
    width: 27px; 
}
.control:last-child{
    border-right: 0px solid !important;
}
.control:active{ 
    background: #b0afb0; 
    -webkit-box-shadow:0px 0px 4px #000 inset;
}
.active{
    background: #707070 !important;
    -webkit-box-shadow:0px 3px 4px rgba(0,0,0,0.6) inset !important;
}


.body {
    opacity:0.95;
    font-family: Andale Mono, monospace;  line-height: 1em !important;
    font-size:18px;
    float: left;
    width: 100%;
    min-height:130px;
    background:#000;
    padding:10px;
    line-height:1.5em;
}
.body p { 
   color: #FFF !important; 
}

@keyframes blink
{
	0%   {  background:rgba(255,255,255,100);  }
	50% {  background:rgba(255,255,255,00);  }
    100%   {  background:rgba(255,255,255,100);  }
}

@-webkit-keyframes blink {
	0%   {  background:rgba(255,255,255,100);  }
	50% {  background:rgba(255,255,255,00);  }
    100%   {  background:rgba(255,255,255,100);  }

}
@-moz-keyframes blink {
	0%   {  background:rgba(255,255,255,100);  }
	50% {  background:rgba(255,255,255,00);  }
    100%   {  background:rgba(255,255,255,100);  }
}
.cursor {
  background:#FFF; 
  display:inline-block;
  width:11px;
  height:23px;
  margin-bottom:-3px;

    animation-timing-function:ease;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function:ease;
    -moz-animation-iteration-count: infinite;
}

.body p::-webkit-selection  {
    background:#0b209e;
}
.body p::selection { background:#0b209e; }
.body p::-moz-selection { background:#0b209e; }

.body p {
  margin-top:5px;
  margin-bottom:5px;
  font-size:18px;
}

.content{
    float: left; 
    margin-top: 1px;
}
.foot{
    height: 23px;
    width: 100%;
    float: left;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #cbcbcb),color-stop(0, #a7a7a7));
    border-top:1px solid #515151;
    border-radius:0 0 15px 15px;
}
.foot .handle{
    width: 11px;
    height: 11px;
    float: right;
    margin: 6px;
    overflow: hidden;
}
.handle .grip{
    -webkit-transform: rotate(45deg) scaley(3);
    margin: 2px 0 0 2px;
    color: #646464;
    text-shadow: 1px 1px 0 #c6c6c6;
    font-size: 14px;
}

.icon{
    width: 86px; 
    height: 100px;
    margin: 20px; 
    float: left;
    font-family: "Myriad Pro", sans-serif; 
    text-align: center; 
    font-size: 12px;
}
.icon .frame{
    width: 82px;
    height: 82px; 
    border-radius: 5px;
    border: 2px solid transparent; 
}
.icon .name{
    color: #000;
    padding-top: 3px; 
    border-radius:15px;
    width: 55px;
    margin: 5px 0 0 15px;
}
.icon .folder{
    margin:15px 0 0 6px;
}