body {
	padding: 20px 0 0 0;
	/* color: #999999; */
	/* background-color: #EFEFEA; */
}

.navbar-color{
	background-color: #EFEFEA;
	border-bottom:20px solid #436FA3;
	margin-bottom:0px;
}


.logo  {
	padding: 11px 20px 7px 20px !important;
	/* background-color: green; */
}

.nav-height {
	height: 100px;
}

.nav-link-padding {
	padding: 0px 0px 0px 0px !important;
}

.btn-margin {
	margin-left: 10px;
}

.containboom {
	z-index: 100;
	padding:10px 40px 0 40px;
	border-left:1px solid;
	border-right:1px solid;
	border-color: #E7E7E7;
	position:relative;
	top:-5px;
	background-color: #436FA3;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	background-color: red;
}

.round10
{
	border-radius: 10px;
}

hr.board
{
	  color: #AAA;
	  border-style: solid none;
	  border-width: 2px 0;
	  margin: 0px 0;
	  margin-bottom:10px;
	  padding: 0px;
}

h4.applist
{
	margin-top: 15px;
	margin-left: 25px;
	padding-right: 20px;
}

button.app-btn
{
	font-size: 14px;
	font-weight: bold;
}

div.progress-smallbar
{
	clear:both;
	background-color:#444;
	height:10px;
	border-radius:5px;
	margin-top:10px;
}

.spaceleft10{
	margin-left:10px
}

.spaceleft20{
	margin-left:20px
}

.spaceleft30{
	margin-left:30px
}

.spaceleft40{
	margin-left:40px
}


.spaceright10{
	margin-right:10px
}

.spaceright20{
	margin-right:20px
}

.spaceright30{
	margin-right:30px
}

.spaceright40{
	margin-right:40px
}

div.appinfo
{
	padding-left:60px;
	font-family:San-serif;
	font-size:14px;
}
@media screen and (max-width: 768px){
	div.modal-response
	{
		width:95%;
	}
}

@media screen and (min-width: 768px){
	div.modal-response
	{
		width:25%;
	}
}

body
{
	min-height:1080px;
	background: url("wallpaper.jpg");
}

#Maincont
{
	box-shadow:0 0 8px 2px rgba(0,0,0,0.4);
	padding:0px;
}

*:not(.glyphicon)
{
	font-family: "Open Sans","Calibri","Candara","Arial,sans-serif" !important;
}
.form-plan , .form-db , .form-signup
{
	border:#666 solid 3px;
	margin:5px 5px;
	padding-top:15px;
	border-radius:8px;
	background-color:#F0F0F0;
	box-shadow:0px 0px 8px;
	padding-left:50px;
	padding-bottom:15px;
}

.sticky-form-head-plan
{
	position:relative;
	bottom:-30px;
	left:30px;
	background-color:#F0F0F0;
	width:17%;
	white-space:nowrap;
	padding:0px;
	margin:0px;
}

.sticky-form-head-db
{
	position:relative;
	bottom:-30px;
	left:30px;
	background-color:#F0F0F0;
	width:37%;
	white-space:nowrap;
	padding:0px;
	margin:0px;
}
.sticky-form-head-signup
{
	position:relative;
	bottom:-30px;
	left:40px;
	background-color:#F0F0F0;
	width:14%;
	white-space:nowrap;
	padding:0px;
	margin:0px;
}
.form-signup
{
	font-size:28px;
}